<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0"
	xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/persistence
       http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">

	<persistence-unit name="reactionDistractionUnit"
		transaction-type="JTA">
		<jta-data-source>reactionDistractionDataSource</jta-data-source>
		<class>models.User</class>
		<class>models.Comment</class>
		<class>models.Group</class>
		<class>models.Message</class>
		<class>models.MessageChat</class>
		<class>models.Post</class>
		<class>models.UserRole</class>

		<properties>
			<property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)" />
			<property name="openjpa.Log" value="SQL=TRACE"/>
			<property name="openjpa.ConnectionFactoryProperties" value="PrintParameters=true" />
		</properties>
	</persistence-unit>
</persistence>